* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-image: url('../assets/sockpuppet.jpg');
  font-family: 'Roboto',sans-serif;
	border: none;
	margin: 0;
	padding: 0;
  background-color:#d4d4d4;
  color: rgb(47, 2, 34);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
} 

.form-container {
  padding: 1em;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  font-size: medium;
  list-style: none;
  margin: none;
  background-color: darkgray;
  border-radius: 15px;
  width: 600px;
  height: 100px;
  margin-bottom: 20px;
  padding: 20px;
}

p {
  margin: 0.2em;
}

button {
  width: 200px;
  padding: 10px 20px;
  background-color: #3498db;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2980b9;
}

a {
  text-decoration: none;
  color: #3498db;
  transition: color 0.3s ease;
  font-size: 2em;
  margin-right: 20px;
}

a:hover {
  color: red;
}