html,
body {
	border: none;
	margin: 0;
	padding: 0;
  background-color: rgb(253, 253, 212);
  color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  flex-direction: column;
}
.form-container {
  padding: 1em;;
}
.container {
  display: flex;
  justify-content: center;
  width: 100vw;
}
.card {
  width: 200px;
  min-height: 300px;
  background-color: hotpink;
  border-radius: 0.5em;
}
li {
  font-size: medium;
  list-style: none;
  margin: none;
}
.sub-header {
  color: white;
}
h3 {
  color: white;
}
p {
  margin: 0.2em;
}
