* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: 'Roboto',sans-serif;
	border: none;
	margin: 0;
	padding: 0;
  background-color: rgb(253, 253, 212);
  color: rgb(47, 2, 34);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  flex-direction: column;
}
.form-container {
  padding: 1em;;
}
.container {
  display: flex;
  justify-content: center;
  width: 100vw;
}

li {
  font-size: medium;
  list-style: none;
  margin: none;
}

p {
  margin: 0.2em;
}
